<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/vant/vant.css" />
    <title>追溯详情</title>
    <script src="../../js/rem.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/mobile.css" />
  </head>
  <body>
    <div id="app">
      <div class="page-mainer">
        <div class="retrospect-title">
          <span class="retrospect-title-ch">追溯码查询详情</span>
          <span class="retrospect-title-en">/ Trace Code Query Information</span>
        </div>
        <div class="product-retrospect-section">
          <div class="product-retrospect-info">
            <div class="product-retrospect-info-img">
              <img src="../../images/a1.jpg" alt="" />
            </div>
            <div class="product-retrospect-info-text">
              <p><b>追溯码：</b>{{code}}</p>
              <p><b>产品名称：</b>{{aqzsProduct.name}}</p>
              <p><b>开始时间：</b>{{aqzsProduct.startDate.substr(0, 10)}}</p>
              <p><b>结束时间：</b>{{aqzsProduct.endDate.substr(0, 10)}}</p>
            </div>
          </div>
        </div>
        <van-collapse v-model="activeName" accordion>
          <van-collapse-item title="产品信息" name="1">
            <van-cell-group>
              <van-cell title="商品名称">{{aqzsDetail.name}}</van-cell>
              <van-cell title="商品保质期">{{aqzsDetail.shelfLife}}</van-cell>
              <van-cell title="开始时间">{{aqzsProduct.startDate.substr(0,10)}}</van-cell>
              <van-cell title="结束时间">{{aqzsProduct.endDate.substr(0,10)}}</van-cell>
              <van-cell title="商品条码">{{aqzsDetail.code}}</van-cell>
              <van-cell title="商品规格">{{aqzsDetail.specs}}</van-cell>
              <van-cell title="商品介绍" class="productInfo" @click="handleCheckInfo(aqzsDetail.introduce)"
                >{{aqzsDetail.introduce}}</van-cell
              >

              <van-cell title="产品图片" is-link arrow-direction="down"> </van-cell>
              <van-image
                width="100"
                height="100"
                v-for="(item,index) in imgUrl"
                :src="item.url"
                @click="sceneImg(srcList,index)"
              >
                <template v-slot:error>加载失败</template>
              </van-image>

              <van-cell title="产品证书" is-link arrow-direction="down"></van-cell>
              <van-image
                width="100"
                height="100"
                v-for="(item,index) in certificateUrl"
                :src="item.url"
                @click="sceneImg(certificateList,index)"
              >
                <template v-slot:error>加载失败</template>
              </van-image>
            </van-cell-group>
          </van-collapse-item>
          <van-collapse-item title="基地信息" name="2">
            <van-cell-group>
              <van-cell title="种植基地名称">{{aqzs_base1.name}}</van-cell>
              <van-cell title="种植基地位置">{{aqzs_base1.address}}</van-cell>
              <van-cell title="种植基地面积/规模(亩)">{{aqzs_base1.area}}</van-cell>
              <van-cell title="种植环境检验结果">{{aqzs_base1.isReportQualified}}</van-cell>
              <van-cell title="种植基地负责人">{{aqzs_base1.lender}}</van-cell>
              <van-cell title="种植基地负责人电话">{{aqzs_base1.lenderPhone}}</van-cell>
              <van-cell title="生产基地名称">{{aqzs_base2.name}}</van-cell>
              <van-cell title="生产基地位置">{{aqzs_base2.address}}</van-cell>
              <van-cell title="生产基地面积/规模(亩)">{{aqzs_base2.area}}</van-cell>
              <van-cell title="生产基地检验结果">{{aqzs_base2.isReportQualified}}</van-cell>
              <van-cell title="生产基地负责人">{{aqzs_base2.lender}}</van-cell>
              <van-cell title="生产基地负责人电话">{{aqzs_base2.lenderPhone}}</van-cell>
              <van-cell title="种植基地照片" is-link arrow-direction="down"></van-cell>
              <van-image
                width="100"
                height="100"
                v-for="(item,index) in imgUrl2"
                @click="sceneImg(srcList2,index)"
                :src="item.url"
              >
                <template v-slot:error>加载失败</template>
              </van-image>
              <van-cell title="生产基地照片" is-link arrow-direction="down"></van-cell>
              <van-image
                width="100"
                height="100"
                @click="sceneImg(srcList4,index)"
                v-for="(item,index) in imgUrl4"
                :src="item.url"
              >
                <template v-slot:error>加载失败</template>
              </van-image>
              <van-cell title="种植基地检验报告" is-link arrow-direction="down"></van-cell>
              <van-image
                width="100"
                height="100"
                @click="sceneImg(srcList3,index)"
                v-for="(item,index) in imgUrl3"
                :src="item.url"
              >
                <template v-slot:error>加载失败</template>
              </van-image>
              <van-cell title="生产基地检验报告" is-link arrow-direction="down"></van-cell>
              <van-image
                width="100"
                height="100"
                @click="sceneImg(srcList5,index)"
                v-for="(item,index) in imgUrl5"
                :src="item.url"
              >
                <template v-slot:error>加载失败</template>
              </van-image>
            </van-cell-group>
          </van-collapse-item>
          <van-collapse-item title="基本作业信息" name="3">
            <van-tabs>
              <van-tab v-for="(item,index) in aqzs_base_work" :title="item.workObjectName">
                <van-cell title="作业类型">{{getDictionaryName3(item.workType)}}</van-cell>
                <van-cell title="作业物名称">{{item.workObjectName}}</van-cell>
                <van-cell title="作业物类型">{{item.workObjectType}}</van-cell>
                <van-cell title="作业物来源">{{item.workObjectSource}}</van-cell>
                <van-cell title="作业物数量">{{item.workObjectAmount + getDictionaryName2(item.workObjectAmountUnit)}}</van-cell>
                <van-cell title="作业开始日期">{{item.startDate.substr(0,10)}}</van-cell>
                <van-cell title="作业结束日期">{{item.endDate.substr(0,10)}}</van-cell>
                <van-cell title="天气状况">{{item.weather}}</van-cell>
                <van-cell title="作业图片" is-link arrow-direction="down"></van-cell>
                <van-image
                  width="100"
                  height="100"
                  @click="sceneImgCheck(item.workPictureList,index)"
                  v-for="(data,index) in item.workPictureList"
                  :src="baseImgUrl + data.url"
                >
                  <template v-slot:error>加载失败</template>
                </van-image>
              </van-tab>
            </van-tabs>
          </van-collapse-item>
          <van-collapse-item title="生产作业信息" name="4">
            <van-cell title="收获方式"> {{aqzs_harvest.harvestWay}}</van-cell>
            <van-cell title="收获数量"
              >{{aqzs_harvest.harvestAmount + getDictionaryName2(aqzs_harvest.harvestAmountUnit)}}</van-cell
            >
            <van-cell title="收获时间">{{aqzs_harvest.harvestDate.substr(0,10)}}</van-cell>
            <van-cell title="天气状况">{{aqzs_harvest.weather}}</van-cell>
            <van-cell title="加工开始时间">{{aqzsProduct.startDate.substr(0,10)}}</van-cell>
            <van-cell title="加工结束时间">{{aqzsProduct.endDate.substr(0,10)}}</van-cell>
            <van-cell title="加工数量"
              >{{aqzs_harvest.harvestAmount + getDictionaryName2(aqzs_process_batch.processAmountUnit)}}</van-cell
            >
            <van-cell title="加工方式">{{aqzs_process_batch.processWay}}</van-cell>
            <van-cell title="采收图片" is-link arrow-direction="down"></van-cell>
            <van-image
              width="100"
              height="100"
              @click="sceneImg(srcList6,index)"
              v-for="(item,index) in imgUrl6"
              :src="item.url"
            >
              <template v-slot:error>加载失败</template>
            </van-image>
            <van-cell title="加工图片" is-link arrow-direction="down"></van-cell>
            <van-image
              width="100"
              height="100"
              @click="sceneImg(srcList7,index)"
              v-for="(item,index) in imgUrl7"
              :src="item.url"
            >
              <template v-slot:error>加载失败</template>
            </van-image>
          </van-collapse-item>
          <van-collapse-item title="检验信息" name="5">
            <van-tabs>
              <van-tab v-for="(item,index) in aqzsTest" :title="item.testDate.substr(0,10)">
                <van-cell title="检验数量">{{item.testAmount + getDictionaryName2(item.testAmountUnit)}}</van-cell>
                <van-cell title="检验日期">{{item.testDate.substr(0,10)}}</van-cell>
                <van-cell title="检验结果">{{item.testResult}}</van-cell>
                <van-cell title="检验图片" is-link arrow-direction="down"></van-cell>
                <van-image
                  width="100"
                  height="100"
                  @click="sceneImgCheck(item.testResultPictureList,index)"
                  v-for="(data,index) in item.testResultPictureList"
                  :src="baseImgUrl + data.url"
                >
                  <template v-slot:error>加载失败</template>
                </van-image>
              </van-tab>
            </van-tabs>
          </van-collapse-item>
          <van-collapse-item title="销售信息" name="6">
            <van-tabs>
              <van-tab v-for="(item,index) in aqzsSale" :title="item.orderNumber">
                <van-cell title="订单编号">{{item.orderNumber}}</van-cell>
                <van-cell title="销售数量">{{item.saleAmount}}</van-cell>
                <van-cell title="销售商名称">{{item.sellerName}}</van-cell>
                <van-cell title="发货时间">{{item.sendDate.substr(0,10)}}</van-cell>
                <van-cell title="发货人">{{item.sender}}</van-cell>
                <van-cell title="收货人">{{item.receiver}}</van-cell>
                <van-cell title="始发地">{{item.startPlace}}</van-cell>
                <van-cell title="目的地">{{item.endPlace}}</van-cell>
              </van-tab>
            </van-tabs>
          </van-collapse-item>
        </van-collapse>
      </div>
    </div>
  </body>
  <script src="../../assets/vue/vue.min.js"></script>
  <script src="../../assets/vant//vant.js"></script>
  <script src="../../js/jquery.min.js"></script>
  <script src="../../js/api.js"></script>
  <script>
    var App = new Vue({
      el: '#app',
      data() {
        return {
          activeName: '1',
          activeNames2: '1',
          code: '',
          baseImgUrl: 'http://192.168.8.166:8897',
          aqzsProduct: {},
          aqzsDetail: {},
          imgUrl: [],
          srcList: [],
          certificateUrl: [],
          certificateList: [],
          aqzs_base1: {},
          aqzs_base2: {},
          imgUrl2: [],
          srcList2: [],
          imgUrl3: [],
          srcList3: [],
          imgUrl4: [],
          srcList4: [],
          imgUrl5: [],
          srcList5: [],
          imgUrl6: [],
          srcList6: [],
          imgUrl7: [],
          srcList7: [],
          aqzs_base_work: {},
          aqzs_harvest: {},
          aqzsTest: [],
          aqzsSale: [],
          amountUnitOptions: [],
          aqzs_process_batch: {},
          baseOperationOptions: [],
        };
      },
      created() {
        this.getRetrospectCode();
        this.getAmountUnitDictionary();
        this.getBaseOperationDictionary();
      },
      methods: {
        getRetrospectCode() {
          let search = location.search;
          this.code = search.substr(1);
          let params = { productBatchNumber: this.code };
          $.ajax({
            url: 'http://192.168.8.166:8765/api/zsSys/ProcessBatch/traceByPBN',
            data: params,
            type: 'GET',
            success: (res) => {
              console.log(res);
              if (res.status == 200) {
                this.aqzsProduct = res.data.aqzs_product;
                this.aqzsDetail = res.data.aqzs_product_detail;
                if (res.data.aqzs_product_detail.pictureList) {
                  this.imgUrl = res.data.aqzs_product_detail.pictureList.map((item) => {
                    this.srcList.push(this.baseImgUrl + item.url);
                    return {
                      url: this.baseImgUrl + item.url,
                    };
                  });
                }
                if (res.data.aqzs_product_detail.certificateList) {
                  this.certificateUrl = res.data.aqzs_product_detail.certificateList.map((item) => {
                    this.certificateList.push(this.baseImgUrl + item.url);
                    return {
                      url: this.baseImgUrl + item.url,
                    };
                  });
                }

                this.aqzs_base1 = res.data.aqzs_base1;
                this.aqzs_base2 = res.data.aqzs_base2;
                this.aqzs_base1.isReportQualified = this.aqzs_base1.isReportQualified ? '合格' : '不合格';
                this.aqzs_base2.isReportQualified = this.aqzs_base2.isReportQualified ? '合格' : '不合格';

                if (res.data.aqzs_base1.basePictureList) {
                  this.imgUrl2 = res.data.aqzs_base1.basePictureList.map((item) => {
                    this.srcList2.push(this.baseImgUrl + item.url);
                    return {
                      url: this.baseImgUrl + item.url,
                    };
                  });
                }
                if (res.data.aqzs_base2.basePictureList) {
                  this.imgUrl4 = res.data.aqzs_base2.basePictureList.map((item) => {
                    this.srcList4.push(this.baseImgUrl + item.url);
                    return {
                      url: this.baseImgUrl + item.url,
                    };
                  });
                }
                if (res.data.aqzs_base1.reportPictureList) {
                  this.imgUrl3 = res.data.aqzs_base1.reportPictureList.map((item) => {
                    this.srcList3.push(this.baseImgUrl + item.url);
                    return {
                      url: this.baseImgUrl + item.url,
                    };
                  });
                }
                if (res.data.aqzs_base2.reportPictureList) {
                  this.imgUrl5 = res.data.aqzs_base2.reportPictureList.map((item) => {
                    this.srcList5.push(this.baseImgUrl + item.url);
                    return {
                      url: this.baseImgUrl + item.url,
                    };
                  });
                }
                if (res.data.aqzs_harvest.harvestPictureList) {
                  this.imgUrl6 = res.data.aqzs_harvest.harvestPictureList.map((item) => {
                    this.srcList6.push(this.baseImgUrl + item.url);
                    return {
                      url: this.baseImgUrl + item.url,
                    };
                  });
                }
                if (res.data.aqzs_process_batch.productBatchNumberPictureList) {
                  this.imgUrl7 = res.data.aqzs_process_batch.productBatchNumberPictureList.map((item) => {
                    this.srcList7.push(this.baseImgUrl + item.url);
                    return {
                      url: this.baseImgUrl + item.url,
                    };
                  });
                }

                this.aqzs_base_work = res.data.aqzs_base_work;
                this.aqzs_harvest = res.data.aqzs_harvest;
                this.aqzsTest = res.data.aqzs_finish_product_test;
                this.aqzsSale = res.data.aqzs_sale;
                this.aqzs_process_batch = res.data.aqzs_process_batch;
              }
            },
            error: function (err) {
              console.log(err);
            },
          });
        },
        handleCheckInfo(value) {
          vant.Dialog({ title: '商品介绍', message: value });
        },
        getAmountUnitDictionary() {
          $.ajax({
            url: 'http://192.168.8.166:8765/api/comSys/DataDictionary/getAllMayToCondition',
            data: { type: '数量单位' },
            type: 'GET',
            success: (res) => {
              if (res.status !== 200) {
                return vant.Notify({ type: 'danger', message: '通知内容' });
              }
              this.amountUnitOptions = res.data;
            },
            error: (err) => {
              console.log(err);
            },
          });
        },
        getBaseOperationDictionary() {
          $.ajax({
            url: 'http://192.168.8.166:8765/api/comSys/DataDictionary/getAllMayToCondition',
            data: {
              type: '种植作业类型',
              remark: 'X2',
            },
            type: 'GET',
            success: (res) => {
              if (res.status !== 200) {
                return vant.Notify({ type: 'danger', message: '通知内容' });
              }
              this.baseOperationOptions = res.data;
            },
            error: (err) => {
              console.log(err);
            },
          });
        },
        // 图片预览
        sceneImg(images, index) {
          vant.ImagePreview({
            images: images, //需要预览的图片 URL 数组
            showIndex: true, //是否显示页码
            loop: false, //是否开启循环播放
            startPosition: index, //图片预览起始位置索引
          });
        },
        sceneImgCheck(images, index) {
          let imageArr = [];
          images.map((item) => {
            imageArr.push(this.baseImgUrl + item.url);
          });
          vant.ImagePreview({
            images: imageArr, //需要预览的图片 URL 数组
            showIndex: true, //是否显示页码
            loop: false, //是否开启循环播放
            startPosition: index, //图片预览起始位置索引
          });
        },
        // 根据code转换成name
        getDictionaryName(code) {
          for (let i = 0; i < this.typeOptions.length; i++) {
            if (code === this.typeOptions[i].code) {
              return this.typeOptions[i].name;
            }
          }
        },
        getDictionaryName2(code) {
          for (let i = 0; i < this.amountUnitOptions.length; i++) {
            if (code === this.amountUnitOptions[i].code) {
              return this.amountUnitOptions[i].name;
            }
          }
        },
        getDictionaryName3(code) {
          for (let i = 0; i < this.baseOperationOptions.length; i++) {
            if (code === this.baseOperationOptions[i].code) {
              return this.baseOperationOptions[i].name;
            }
          }
        },
      },
    });
  </script>
</html>
