<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>监利市农产品质量安全追溯信息系统</title>
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../css/index.css" />
    <link rel="stylesheet" href="../../assets/element/index.css" />
  </head>
  <body>
    <div id="app">
      <div class="banner"></div>

      <div class="title-container">
        <img class="system-logo" src="https://cn.vuejs.org/images/logo.png" alt="img" />
        <h1 class="system-title">监利市农产品质量安全追溯信息系统</h1>
        <div class="search-section">
          <input class="search-input" type="text" placeholder="请输入搜索内容..." />
          <button class="search-btn">搜索</button>
        </div>
      </div>

      <div class="mainer">
        <div class="nav-list">
          <a class="nav-item" href="../../index.html">首页</a>
          <a class="nav-item" href="../farm-news/farm-news.html">农业新闻</a>
          <a class="nav-item" href="../laws-regulations/laws-regulations.html">政策法规</a>
          <a class="nav-item" href="../work-trend/work-trend.html">工作动态</a>
          <a class="nav-item" href="../farm-products/farm-products.html">特色农产品</a>
          <a class="nav-item" href="../company-show/company-show.html">企业名录</a>
          <a class="nav-item" href="../supervision-admin/supervision-admin.html">监督管理</a>
          <a class="nav-item" href="../supervision-organ/supervision-organ.html">监督机构</a>
          <a class="nav-item active" href="../suggest/suggest.html">投诉建议</a>
        </div>

        <!---------------------------------------------------------------- -->

        <div class="main-content">
          <div class="main-content-left">
            <p class="main-content-left-text">投诉建议</p>
          </div>
          <div class="main-content-right">
            <div class="news-top-nav">
              <span>当前位置：</span>
              <a class="news-top-nav-item" href="../../index.html">首页 ></a>
              <a class="news-top-nav-item active" href="javascript:;">投诉建议</a>
            </div>

            <div class="el-form-container">
              <el-form :model="form" label-width="100px" class="demo-ruleForm" :rules="rules" ref="addFormRef">
                <el-form-item label="留言类型：" prop="type">
                  <el-select v-model="form.type" placeholder="请选择留言类型">
                    <el-option v-for="item in options" :key="item" :label="item" :value="item"> </el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="留言主题：" prop="theme">
                  <el-input v-model="form.theme" style="width: 300px !important"></el-input>
                </el-form-item>
                <el-form-item label="昵称：" prop="name">
                  <el-input v-model="form.name"></el-input>
                </el-form-item>
                <el-form-item label="联系方式：" prop="phone">
                  <el-input v-model="form.phone"></el-input>
                </el-form-item>
                <el-form-item label="地址：" prop="address">
                  <el-input v-model="form.address"></el-input>
                </el-form-item>
                <el-form-item label="内容：" prop="content">
                  <el-input type="textarea" :rows="5" v-model="form.content"></el-input>
                </el-form-item>
                <span class="submit-btn">
                  <el-button type="success" @click="submitRow">提 交</el-button>
                  <el-button type="info" @click="resetInput">重 置</el-button>
                </span>
              </el-form>
            </div>
          </div>
        </div>

        <!---------------------------------------------------------------- -->

        <div class="link-section">
          <div class="friendLink">
            <h4>友情链接：</h4>
            <ul class="clearfix">
                <li><a href="http://www.aqsc.agri.cn/" target="_blank">中国农产品质量安全网</a></li>
                <li><a href="http://www.agri.cn/" target="_blank">中国农业信息网</a></li>
                <li><a href="http://www.greenfood.agri.cn/" target="_blank">中国绿色食品发展中心网站</a></li>
                <li><a href="http://nyt.hubei.gov.cn/" target="_blank">湖北省农业农村厅网站</a></li>
                <li><a href="http://nlj.yangling.gov.cn/" target="_blank">监利市人民政府网站</a></li>
            </ul>
        </div>
        </div>
        <footer class="footer">
          <a>主办单位：监利市农业农村局 &nbsp;&nbsp;</a>
          <a>承办单位：武汉中迪联创科技有限公司&nbsp;&nbsp;</a>
          <a>鄂ICP备 xxx号-1鄂公网安备 xxx号</a>
        </footer>
      </div>
    </div>
  </body>
  <script src="./../../js/jquery-3.4.1.min.js" type="text/javascript"></script>
  <script>
    $(function () {
      //搜索按钮
      $(".search-btn").click(function () {
        let val = $(".search-input").val();
        location.href = "./../search/commonArticleList.html?" + val
      });
    })
  </script>
  <script src="./../../js/api.js" type="text/javascript"></script>
  <script src="../../assets/vue/vue.min.js"></script>
  <script src="../../assets/element/index.js"></script>
  <script>


    var App = new Vue({
      el: '#app',
      data() {
        return {
          options: ['建议', '投诉'],
          suggestTheme: '',
          //验证规则
          rules: {
            type: [{ required: true, message: '请输入留言类型', trigger: 'blur' }],
            theme: [{ required: true, message: '请输入留言主题', trigger: 'blur' }],
            name: [{ required: true, message: '请输入昵称', trigger: 'blur' }],
            phone: [
              { required: true, message: '请输入联系方式', trigger: 'change' },
              {
                pattern: /^0{0,1}(13[0-9]|15[7-9]|153|156|18[7-9])[0-9]{8}$/,
                message: '手机号格式不对',
                trigger: 'blur',
              },
            ],
            address: [{ required: true, message: '请输入地址', trigger: 'blur' }],
            content: [{ required: true, message: '请输入内容', trigger: 'blur' }],
          },
          //表单对象
          form: { type: '', theme: '', name: '', phone: '', address: '', content: '' },
        };
      },
      mounted: function () {
        vm = this;
      },
      methods: {
        submitRow() {
          this.$refs.addFormRef.validate((valid) => {
            if (!valid) return this.$message.error('信息填写不完整或不准确，请检查再提交！');
            // <!--        params.theme = $('#title').val();-->
            // <!--        params.name = $('#name').val();-->
            // <!--        params.phone = $('#phone').val();-->
            // <!--        params.address = $('#address').val();-->
            // <!--        params.content = $('#suggest-item-textarea').val();-->
            // <!--        params.type = $('#selectType').val();-->
            var params = this.form;
            doApiByJsonstr(
              function (res) {
                if (res.status === 200) {
                  vm.resetInput();
                  vm.$message.success('提交成功!');
                } else {
                  vm.$message.error('提交失败!');
                }
              },
              function (err) {
                console.log(err);
              },
              null,
              '/suggest/add',
              'post',
              params,
              null
            );
          });
        },
        resetInput() {
          this.$refs.addFormRef.resetFields();
        },
      },
    });
  </script>
</html>
